# Python Data Type

- Build-in Data Type

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

- Text Type:  ->	str
- Numeric Types:  ->	int, float, complex
- Sequence Types:  ->	list, tuple, range
- Mapping Type:	->dict
- Set Types:	->set, frozenset
- Boolean Type:	-> bool
- Binary Types: ->	bytes, bytearray, memoryview
- None Type: ->	NoneType

In [1]:
# You can get the data type of any object by using the type() function:
x = 5 
print(type(x))

<class 'int'>

In [2]:
y = 'swapnil'
print(type(y))

<class 'str'>

In [3]:
z = 5.67
print(type(z))

<class 'float'>

- Setting the data type

In [4]:
x  = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [5]:
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [6]:
x = 23.45
print(x)
print(type(x))

23.45
<class 'float'>

In [7]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [8]:
x = ["Apple","Orange","Banana"]
print(x)
print(type(x))

['Apple', 'Orange', 'Banana']
<class 'list'>

In [9]:
x = ("Apple","Orange","Banana")
print(x)
print(type(x))

('Apple', 'Orange', 'Banana')
<class 'tuple'>

In [10]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [11]:
x = {"Apple","Orange","Banana"}
print(x)
print(type(x))

{'Orange', 'Apple', 'Banana'}
<class 'set'>

In [12]:
x = {"name":"swapnil","age":24}
print(x)
print(type(x))

{'name': 'swapnil', 'age': 24}
<class 'dict'>

In [13]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [14]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [15]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [16]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [17]:
x = memoryview(bytes(6))
print(x)
print(type(x))

<memory at 0x000002C865B27940>
<class 'memoryview'>

In [18]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# Setting the specific Data Type

- If you want to specify the data type, you can use the following constructor functions:

In [19]:
x = str("Hello World")
print(x)
print(type(x))

Hello World
<class 'str'>

In [20]:
x = int(40)
print(x)

40

In [21]:
x = float(54.46)
print(x)

54.46

In [22]:
x = complex(1j)
print(x)

1j

In [23]:
x =list(('apple','orange','cherry'))
print(x)

['apple', 'orange', 'cherry']

In [24]:
x = tuple(('apple','orange','cherry'))
print(x)

('apple', 'orange', 'cherry')

In [25]:
x = range(7)
print(x)

range(0, 7)

In [26]:
x = dict(name='swapnil',age=24)
print(x)

{'name': 'swapnil', 'age': 24}

In [27]:
x = set(('apple','banana','cherry'))
print(x)

{'banana', 'apple', 'cherry'}

In [28]:
x =frozenset(('apple','orange','cherry'))
print(x)

frozenset({'apple', 'cherry', 'orange'})

In [29]:
x =bool(5)
print(x)

True

In [30]:
x= bytes(5)
print(x)

b'\x00\x00\x00\x00\x00'

In [31]:
x = bytearray(6)
print(x)

bytearray(b'\x00\x00\x00\x00\x00\x00')

In [32]:
x = memoryview(bytes(5))
print(x)

<memory at 0x000002C865B26140>

# Python Number

There are three numeric types in Python:

- int
- float
- complex


Variables of numeric types are created when you assign a value to them:

In [33]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [34]:
print(x)
print(y)
print(z)

1
2.8
1j

In [35]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

# Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [36]:
x = 1
y = 874776749654736
z = -7432643633
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [37]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [38]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

# Complex

Complex numbers are written with a "j" as the imaginary part:

In [39]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [41]:
x = 5
y = 56.645
z = 2j

# int into float and complex
a =float(x)
b =complex(x)

#float into int and complex
c =int(y)
d =complex(y)

print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))

5.0
<class 'float'>
(5+0j)
<class 'complex'>
56
<class 'int'>
(56.645+0j)
<class 'complex'>

# Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [42]:
import random

print(random.randrange(1, 10))

2

In [43]:
print(random.randint(0,3))

1

In [44]:
print(random.random())

0.48209376191649156

In [45]:
print(random.randbytes(1))

b'\xae'

# Python Casting

In [46]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [47]:
print(x)
print(y)
print(z)

1
2
3

In [48]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [49]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

# Python String

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [50]:
print("Hello")
print('Hello')

Hello
Hello

- Quotes inside Quotes

In [51]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

- Assign String to a Variable

In [52]:
a = "Hello"
print(a)

Hello

- Multiline Strings

In [53]:
# You can use three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [54]:
# You can use three single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [55]:
a = "Hello, World!"
print(a[1])

e

In [56]:
print(a[0])

H

In [57]:
print(a[0:5])

Hello

In [58]:
print(a[0:-1])

Hello, World

In [59]:
print(a[0:-1:-1])

In [60]:
print(a[0:-1])

Hello, World

# Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [61]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [62]:
x = 'swapnil mishra'
for i in x:
    print(i)

s
w
a
p
n
i
l

m
i
s
h
r
a

In [63]:
for i in x :
    print(i, end=" ")

s w a p n i l   m i s h r a

In [64]:
for i in x:
    print(i,end="")

swapnil mishra

In [65]:
for i in x:
    print(i ,end = "/")

s/w/a/p/n/i/l/ /m/i/s/h/r/a/

In [66]:
for i in x :
    print(i,end="_")

s_w_a_p_n_i_l_ _m_i_s_h_r_a_

In [67]:
for i in x:
    print(i,end=".")

s.w.a.p.n.i.l. .m.i.s.h.r.a.

In [68]:
for i in x:
    print(i, end=",")

s,w,a,p,n,i,l, ,m,i,s,h,r,a,

# String Length

To get the length of a string, use the len() function.

In [69]:
print(len(x))

14

# Check String

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [70]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [71]:
print('nil' in x)

True

In [72]:
print(" " in x)

True

- Use it in an if statement:

In [73]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [74]:
if 'swapnil' in x :
    print("yes, 'swapnil' is present.")

yes, 'swapnil' is present.

# Check if NOT

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [75]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [76]:
print("kumar" not in x)

True

In [77]:
print("swapnil" not in x)

False

- Use it in an if statement:

In [78]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [79]:
if "kumar" not in x:
    print("No, 'kumar' is NOT present.")

No, 'kumar' is NOT present.

# Pyhton slicing

- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [2]:
b = "hello, world"
print(b)

hello, world

In [3]:
#slic from start 
print(b[2:5])

llo

In [4]:
print(b[:5])

hello

In [5]:
# Slicing to the end 
print(b[5:])

, world

In [6]:
print(b[2:])

llo, world

In [8]:
# Negative indexing 
b ="Hello, World"
print(b[-5:-2])

Wor

In [10]:
# Upper Case
a ="Hello, World"
print(a.upper())

HELLO, WORLD

In [11]:
a ="HELLO, WORLD"
print(a.lower())

hello, world

In [14]:
#Remove Whitespace 
a = " Hello, World"
print(a.strip())

Hello, World

In [16]:
#Replace String 
a ="Hello, World"
print(a.replace("H", "J"))

Jello, World

In [17]:
#Spli String 
a = "Hello, World"
print(a.split(","))

['Hello', ' World']

In [19]:
# String Concatenation 
a ="Hello"
b ="World"
c = a + b
print(c)

HelloWorld

In [20]:
# To add space between them , add a " " :
c = a+" " +b
print(c)

Hello World

In [22]:
# String Formate 
age = 23 
txt = "My name is john, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

# F-Strings

- To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [24]:
age = 23 
txt = f"My name is swapnil , I am {age}"
print(txt)

My name is swapnil , I am 23

# Placeholders and Modifiers
- A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [25]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [26]:
# Display the price with 2 decimals:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [27]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Escape Character

In [28]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [29]:
txt = "We are the so-called \"Vikings\" from the north."

In [30]:
print(txt)

We are the so-called "Vikings" from the north.

# String Methods
- Python has a set of built-in methods that you can use on strings

# Method   \t	Description
- capitalize()-->	 Converts the first character to upper case
  
- casefold()-->	Converts string into lower case

- 
- center()-->	Returns a centered string

- 
- count()-->	Returns the number of times a specified value occurs in a string

- 
- encode()-->	Returns an encoded version of the string

- 
- endswith()-->	Returns true if the string ends with the specified value
- expandtabs()-->	Sets the tab size of the string
- find()-->	Searches the string for a specified value and returns the position of where it was found
- format()-->	Formats specified values in a string
- format_map()-->	Formats specified values in a string
- index()-->	Searches the string for a specified value and returns the position of where it was found
- isalnum()-->	Returns True if all characters in the string are alphanumeric
- isalpha()-->	Returns True if all characters in the string are in the alphabet
- isascii()-->	Returns True if all characters in the string are ascii characters
- isdecimal()-->	Returns True if all characters in the string are decimals
- isdigit()-->	Returns True if all characters in the string are digits
- isidentifier()-->	Returns True if the string is an identifier
- islower()-->	Returns True if all characters in the string are lower case
- isnumeric()-->	Returns True if all characters in the string are numeric
- isprintable()-->	Returns True if all characters in the string are printable
- isspace()-->	Returns True if all characters in the string are whitespaces
- istitle()-->	Returns True if the string follows the rules of a title
- isupper()-->	Returns True if all characters in the string are upper case
- join()-->	Joins the elements of an iterable to the end of the string
- ljust()-->	Returns a left justified version of the string
- lower()-->	Converts a string into lower case
- lstrip()-->	Returns a left trim version of the string
- maketrans()-->	Returns a translation table to be used in translations
- partition()-->	Returns a tuple where the string is parted into three parts
- replace()-->	Returns a string where a specified value is replaced with a specified value
- rfind()-->	Searches the string for a specified value and returns the last position of where it was found
- rindex()-->	Searches the string for a specified value and returns the last position of where it was found
- rjust()-->	Returns a right justified version of the string
- rpartition()-->	Returns a tuple where the string is parted into three parts
- rsplit()-->	Splits the string at the specified separator, and returns a list
- rstrip()-->	Returns a right trim version of the string
- split()-->	Splits the string at the specified separator, and returns a list
-  splitlines()-->	Splits the string at line breaks and returns a list
- startswith()-->	Returns true if the string starts with the specified value
- strip()-->	Returns a trimmed version of the string
- swapcase()-->	Swaps cases, lower case becomes upper case and vice versa
- title()-->	Converts the first character of each word to upper case
- translate()-->	Returns a translated string
- upper()-->	Converts a string into upper case
- zfill()-->	Fills the string with a specified number of 0 values at the beginning

# Python Booleans


In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [31]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

When you run a condition in an if statement, Python returns True or False:

In [32]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

- Evaluate Values and Variables
- 
The bool() function allows you to evaluate any value, and give you True or False in return,

In [33]:
print(bool("Hello"))
print(bool(15))

True
True

In [34]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Most Values are True
- 
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [35]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

# Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [36]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [37]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

# Functions can Return a Boolean
You can create functions that returns a Boolean Value:

In [38]:
def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [39]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [40]:
x = 200
print(isinstance(x, int))

True